.content{
    background-color: white;
    width: 55rem;
    height: 30rem;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
   
}


.heading{
    width: 55rem;
    height: 4rem;
    border-radius: 1em 1em 0em 0em;
    background-color: rgb(170, 194, 194);

}

.heading p{
    padding: 1em 0em 0em 1em;
    font-size: x-large;
    float: left;
   
}


.btnclose{
    width: 6em;
    padding: 1%;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    background-color: #257ae9;
    font-size: small; 
    border-color: transparent;
    float: right;
    margin: 1em 5em -1em 0em;
}


.btnsave{

    padding: 1%;
    width: 6em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    background-color: #257ae9;
    font-size: small; 
    border-color: transparent;
    float: right;
    margin: 1em 1em -1em 0em;

}


.btnclosestdform{

    width: 6em;
    padding: 1%;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    background-color: #257ae9;
    font-size: small; 
    border-color: transparent;
    float: right;
    margin: 1em 3em -1em 0em;

}

.btnsavestdform{

    padding: 1%;
    width: 6em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    background-color: #257ae9;
    font-size: small; 
    border-color: transparent;
    float: right;
    margin: 1em 1em -1em 0em;



}

.coursedetails{

    width: 45rem;
    height: 4rem;
    margin: 30px 1px 10px 70px;
    /* border-radius: 1em 1em 0em 0em; */
    background-color: rgb(255, 255, 255);

}

th {
    padding: 20px 50px;
    border-bottom: 2px solid black;
  }

  .coursedata{

    width: 45rem;
    height: 10rem;
    border-radius: 0.5em;
    margin: 30px 1px 10px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 194, 194);
  }

  .centered {
    text-align: center;
  }

.resetform{


    z-index: 100;
}

.resetpassword{
    border: none;
    background-color: rgb(170, 194, 194);
    height: 2em;
    width: 39.5em;
    border-radius: 0.25em;
    /* text-align: center;  */
    padding: 1em 1em 1em 1em;
    margin: 1em 0 3em 0;
}

.resetpassword p{

    float: left;
    cursor: pointer;
    font-size: medium;
    margin: -0.5em;
    

}

.xicon{
    padding: 0em 0em 1em 0em;
    /* width: 1em;
    height: 1em; */
    float: right;
    margin: -0.5em;
    cursor: pointer;
    font-size: medium;
}




.resetform{
    background-color: white;
    width: 45em;
    height: 30em;
    position: relative;
    border-radius: 0.5em;
    padding: 0.5em 0em 0em 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 2%; 
}



input {
    border: none;
    background-color: rgb(229, 226, 266);
    width: 90%;
    height: 1em;
    border-radius: 0.25em;
     text-align: center; 
    padding: 2em;

}

input:focus {
    outline-color: rgb(32, 177, 255);
   
}

label{
    margin: 1em 0em 0em 0em;
}

.namelabel{
    margin-top: 0.5em;
    margin-left: 1em;
    width: 39.5em;
    /* background-color: rgb(36, 163, 121); */
}

.inputname{
    /* width: 25%; */
}

.profilename{
    margin-top: 1%;
    padding: 0.3em 0 0 .25em;
    width: 20rem;
    height: 2rem;
    border-radius: 0.5em;
    margin-left: 5em;
    background-color: #d7e1ec;
}

.btnupload{
    background-color:rgb(146, 158, 158);
    width: 8em;
    

    cursor: pointer;
}

/* .profileimage{
    float:right;
    margin-left: 80%;

    width: 15%;
    height: 14%;
    background-color: #66768b; */

    
/* } */
.upload{

    /* margin-left: 20em; */
    /* width: 10%; */
    /* height: 10%; */
    /* background-color: #257ae9; */
    float: right;
}

@media screen and (max-width: 768px) {

    .content{
        background-color: white;
        width: 25rem;
        height: 10rem;
        position: relative;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
       
    }
    
    
    .heading{
        width: 25rem;
        height: 2rem;
        border-radius: 1em 1em 0em 0em;
        background-color: rgb(170, 194, 194);
    
    }
    
    .heading p{
        padding: 1em 0em 0em 1em;
        font-size: large;
        float: left;
       
    }
    
    
    .heading button{
        padding: 1%;
        border-radius: 1em;
        color: white;
        cursor: pointer;
        background-color: #257ae9;
        font-size: small; 
        border-color: transparent;
        float: right;
        margin: 1em 1em -1em 0em;
    }
    
    

}