.content{
    background-color: white;
    width: 55rem;
    height: 30rem;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
   
}


.heading{
    width: 55rem;
    height: 4rem;
    border-radius: 1em 1em 0em 0em;
    background-color: rgb(170, 194, 194);

}

.heading p{
    /* padding: 1em 0em 0em 1em; */
    font-size: x-large;
    float: left;
   
}


button{
    padding: 1%;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    background-color: #163e74;
    font-size: small; 
    border-color: transparent;
    float: right;
    margin: 1em 1em -1em 0em;
}

.coursedetails{

    width: 45rem;
    height: 4rem;
    margin: 30px 1px 10px 70px;
    border-radius: 1em 1em 0em 0em;
    background-color: rgb(255, 255, 255);

}

th {
    padding: 10px 50px;
    border-bottom: 2px solid black;
  }

  .coursedata{

    width: 45rem;
    height: 5rem;
    border-radius: 0.5em;
    margin: 20px 1px 10px 70px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255); */
  }

  /* .coursedatas{

    width: 45rem;
    height: 5rem;
    border-radius: 0.5em;
    margin-top: -10em;
    margin-bottom: 10em;
    /* margin-bottom: 4em; */
    /* margin: 10px px px px; */

  /* }  */

  .search{

    width: 45rem;
    height: 3rem;
    border-radius: 0.5em;
    margin: 20px 1px 2px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 194, 194);

  }

  .centered {
    text-align: center;
  }

/* .courseform{

   
} */

.courseinformation{
    border: none;
    background-color: rgb(170, 194, 194);
    height: 2em;
    width: 45.8em;
    border-radius: 0.25em;
    /* text-align: center;  */
    padding: 1em 1em 1em 1em;
    margin: 1em 0 0 0;
}

.courseinformation p{

    float: left;
    cursor: pointer;
    font-size: medium;
    margin: -0.5em;
    

}

.xicon{
    padding: 0em 0em 1em 0em;
    /* width: 1em;
    height: 1em; */
    float: right;
    margin: -0.5em;
    cursor: pointer;
    font-size: medium;
}




.courseform{
    background-color: white;
    width: 55em;
    height: 30em;
    position: relative;
    /* z-index: 1; */
    border-radius: 0.5em;
    padding: 0.5em 0em 0em 4em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    margin-top: -3.5em;
    margin-left: 1%; 
}



.input {
    border: none;
    background-color: rgb(229, 226, 266);
    width: 90%;
    height: 1em;
    /* border-radius: 0.25em; */
    text-align:left; 
    padding: 1.5em;
    font-size: large;
    /* background-color: #163e74; */

}

.input:focus {
    outline-color: rgb(32, 177, 255);
   
}

label{
    margin: 1em 0em 0em 0em;
}


.editcourse{

    /* border: none; */
    /* background-color: rgb(229, 226, 266); */
    /* width: 90%; */
    height: 2em;
    border-radius: 0.25em;
    text-align:center; 
    padding: 1em 0em 1em 0em;
    /* font-size: large; */
    /* background-color: #163e74; */

}

@media screen and (max-width: 768px) {

    .content{
        background-color: white;
        width: 25rem;
        height: 10rem;
        position: relative;
        border-radius: 1em;
        box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
       
    }
    
    
    .heading{
        width: 25rem;
        height: 2rem;
        border-radius: 1em 1em 0em 0em;
        background-color: rgb(170, 194, 194);
    
    }
    
    .heading p{
        padding: 1em 0em 0em 1em;
        font-size: large;
        float: left;
       
    }
    
    
    .heading button{
        padding: 1%;
        border-radius: 1em;
        color: white;
        cursor: pointer;
        background-color: #257ae9;
        font-size: small; 
        border-color: transparent;
        float: right;
        margin: 1em 1em -1em 0em;
    }
    
    

}